.titulo {
    text-align: center;
}

.notas {
    border-radius: 2em;
    padding: 2px;
    text-align: center;
}

.hrfactura {
    margin-top: 0px;
    margin-bottom: 10px;

}

.contraseña {
    width: 20px;
}

/*.col-1 {
    max-width: 6.5% !important;

}*/