.periodo {
  margin-top: 5px;
  font-size: 20px;
}




.divFecha {
  text-align: left;
}
  ::placeholder {
    opacity: 1; /* Firefox */
  }

  .buttonFactura {
    text-align: center;
  }

.selectItems   {
 border-radius: 2em;
 border-width: 3px;
 
 
  &:hover {
    border-color: #adb5bd;  
  }
}
.divItems {
  margin-right: 15px;
}

.tabla {
  margin-top: 20px;
}

.divPeriodo {
  text-align: right;
}

.modalClientes {
  margin-left: 10px;
}

    .form-group.hidden {
      width: 0;
      margin: 0;
      border: none;
      padding: 0;
    }
    .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }
  



    .cuadro {
      width: 800px;
      height: 400px;
      position: absolute;
      top: 250px;
      right: 500px;
      background-color: white;
      z-index: 1000;
      border-style: solid;
      border-color: grey;
     }