<div class="row">
  <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/general/planes">Planes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editando Plan</li>
      </ol>
    </nav>
  </div>
</div>
<div class="profile-page tx-13">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">{{title}} {{nombre}}</h4>
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
        <div class="input-group dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex">
          <div class="input-group-prepend">
            <a class="btn btn-primary btn-icon calendar ml-1" *ngIf="Editing" type="button" (click)="editarPlan()">
              <i data-feather="edit" appFeatherIcon></i>
            </a>
            <a class="btn btn-secondary btn-icon calendar" type="button" routerLink="/general/planes">
              <i data-feather="arrow-left" appFeatherIcon></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-body">
      <!-- middle wrapper start -->
      <div class="col-md-12 col-xl-12 middle-wrapper">
        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"></h6>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="control-label">Nombre del Plan</label>
                          <input type="text" class="form-control" [disabled]="Editing" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div><!-- Col -->
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="control-label">Costo</label>
                          <input type="text" class="form-control" [disabled]="Editing" mask="separator.2" thousandSeparator="," [(ngModel)]="costo" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div><!-- Col -->
                    </div>    
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th class="text-center align-middle" colspan="2">Vista</th>
                                <th ><input type="checkbox" class="form-control" [disabled]="Editing" [checked]="checkedVer" (click)="checkVer($event)"></th>                                                           
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let v of permisos; index as i">
                                <th class="align-middle text-center">{{permisos[i].vista}}</th>                                
                                <td class="align-middle" colspan="2"><input type="checkbox" class="form-control" (click)="changeCheck($event,i,'checkedVer')" [disabled]="Editing" [checked]="permisos[i].checkedVer" [(ngModel)]="permisos[i].lista" [ngModelOptions]="{standalone: true}"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                     </div>    
                  </form>
                <button type="button" *ngIf="!Editing" [disabled]="saving" class="btn btn-primary submit" (click)="Guardar()">Guardar</button>
                <button type="button" *ngIf="!Editing" class="btn btn-light submit" (click)="Cancelar()">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>