<div class="row">
  <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Planes</li>
      </ol>
    </nav>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0"></h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
      <div class="input-group dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex">
        <div class="input-group-prepend">
          <a class="btn btn-primary" type="button" routerLink="/general/planes/newplan/">
            Agregar
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
            class="bootstrap"
            [rows]="planes"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="20"
            [scrollbarH]="true"
            [columns]="columns"
            >
              <ngx-datatable-column name="ID" [width]="50"></ngx-datatable-column>
              <ngx-datatable-column name="Plan" [width]="200"></ngx-datatable-column>  
              <ngx-datatable-column name="Tarifa" [width]="300" prop="costo"></ngx-datatable-column>  
              <ngx-datatable-column name="Acciones" [width]="150" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span>
                    <button class="btn btn-secondary btn-icon" routerLink="/general/planes/editplan/{{value}}">
                      <i class="feather icon-edit-3"></i>
                    </button>
                    <button class="btn btn-danger btn-icon" (click)='delete(value)'>
                      <i class="feather icon-x"></i>
                    </button>
                  </span>
                </ng-template>
              </ngx-datatable-column>        
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>